/****** Colors ***********/
$first-background-color: #F3F3F3;
$second-background-color: #F7F7F7;
$third-background-color: #EAEAEA;

$footer-background-color: #353535;
$footer-font-color: white;

$icons-color: #7a7a7a;

/****** Card--new ***********/
$green-color: #19846a;

/****** Fonts ***********/
@import url('https://fonts.google.com/share?selection.family=Roboto:wght@300;400;500;700;900');
$main-font: "Roboto", sans-serif;
@import url('https://fonts.google.com/share?selection.family=Shrikhand');
$title-font: "Shrikhand", cursive;

/****** Fonts weight ***********/
$thin: 300;
$regular: 400; 
$semi-bold: 500;
$bold: 700;

/****** Gradient ***********/
$gradient-first-color: #9356DC;
$gradient-second-color: #FF79DA;

/****** Shadow ***********/
$shadow-color: rgba(0, 0, 0, 0.25);

/****** Loader colors ***********/

$purple-color: #9356dc;
$pink-color: #FF79DA;
$mint-color: #99E2D0;

$loader-colors: (
  1: $purple-color,
  2: $pink-color,
  3: $mint-color,
);
