/****** Place ***********/
.place-container {
    @include flex(row, center, $align:center);
    background-color: $third-background-color;
    height: 50px;
    padding: 10px;

    &__location__localisation{
        background-color: $third-background-color;
        font-family: $main-font;
        font-weight: $semi-bold;
        font-size: 16px;
        width: 110px;   
        &::placeholder{
            color: black;
        }
    }
}

/****** Réservez ***********/
.reservation {
    @include flex(column, center, $align:center);
    background-color:$first-background-color;
    text-align: center;
    padding: 40px 0px 15px 0px;
    
    
        &__title {
            margin-bottom: 12px;
        }

        &__content {
            @include flex(row, center);
            font-weight: $thin;
            margin-bottom: 12px;
        }
    }  



/****** Fonctionnement ***********/
.fonction {
    @include flex(column, initial, $align:initial, $gap:20px);
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    @include for-size(desktop) {
        @include flex($direction: column, $align:center, $justify: initial, $gap: 24px);
      }


    &__title {
        font-size: 30px;
        font-weight: $bold;
        @include for-size(desktop) {
            width: 100%;
            max-width: 1100px;
          }
        }

    &__buttons-container {
        @include flex(column, initial, $align:initial);
        gap: 25px;

        @include for-size(desktop) {
            @include flex($direction: row, $justify: center, $gap: 24px);
            width: 100%;
        }
        @include for-size(tablet) {
            padding-left: 50px;
        }
          }
        }


/****** Restaurants ***********/
.restaurants {
    @include flex(column, center, $align:center);
    background-color: $first-background-color;
    padding: 1em 1em 55px 1em;
    @include for-size(desktop) {
        padding-top : 30px;
        }

        &__title {
        padding: 25px 0px 20px 3px;
        /* top | right | bottom | left */
        width: 100%;
        max-width: 1080px;
        font-size: 30px;
        font-weight: $bold;
        }
  
        &__cards-container {
        @include flex(column, center, $align:center);
        width: 100%;
        max-width: 1080px;
        gap: 1em;
        }
        
        &__card-link{
        width: 100%;
        position: inherit;
        }
}
