.place-container {
    @include flex(row, center, $align:center);
    background-color: $third-background-color;
    height: 50px;
    padding: 10px;

    &__location .localisation{
        background-color: $third-background-color;
        font-size: 16px;
}
}

.reservation {
    @include flex(column, center, $align:center);
    background-color:$first-background-color;
    text-align: center;
    
    &__title {
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 23px;
    }

    &__content {
        @include flex(row, center);
        font-size: 15px;
    }  
}

.restaurants {
    @include flex(column, center, $align:center);
    background-color: $first-background-color;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;

        &__title {
        padding-left: 3px;
        width: 100%;
        max-width: 1080px;
        }
  
        &__cards-container {
        @include flex(column, center, $align:center);
        width: 100%;
        max-width: 1080px;
        }

        &__card-link{
        width: 100%;
        position: inherit;
        }
}
