.restaurant-onlycard {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
      &__picture {
        object-fit: cover;
        height: 275px;
        width: 100%;
      }

      &__top{
          @include flex(initial, space-between,initial, initial);
          min-width: 900px;
          max-width: 1055px;
          position: relative;
          margin-top: -40px;
          padding: 20px;
          border-radius: 40px 40px 0 0;
          z-index: 1;
          background: #f6f6f6;
      
          @include tablet{
            min-width: 900px;
            max-width: 1055px;
            justify-content: center;
          }
      
          @include desktop {
            min-width: 900px;
            max-width: 1055px;
          }
      
          @include desktop-large {
            min-width: 900px;
            max-width: 1055px;
        }
          }

      &__title{
        font-family: $title-font;
        font-size: 26px;
        font-weight: $regular;
      }

      &__like-icon{
        position: absolute;
        left: 305px;
        bottom: 28px;

        @include tablet{
          left : 518px;
        }

        @include desktop{
          left: 518px;
        }

        @include desktop-large{
          left : 670px;
          top: 26px;
        }
      }

    }
