.restaurant-onlycard {
    background-color: white;
      &__picture {
        object-fit: cover;
        height: 275px;
        width: 100%;
      }

      &__top{
          @include flex(initial, space-between,initial, initial);
          max-width: 1055px;
          position: relative;
          margin-top: -40px;
          padding: 20px;
          border-radius: 40px 40px 0 0;
          z-index: 1;
          background: #f6f6f6;
      
          @include tablet{
            justify-content: center;
          }
      
          @include desktop {
            margin-right: 150px;
            margin-left: 150px;
          }
      
          @include desktop-large {
            margin-right: 195px;
            margin-left: 274px;
        }
          }

      &__title{
        font-family: $title-font;
        font-size: 26px;
        font-weight: $regular;
      }

      &__like-icon{
        position: absolute;
        right: 28px;
        top: 27px;

        @include tablet{
          right: 215px;
        }

        @include desktop-large{
          right: 325px;
        top: 26px;
        }
      }

    }

.restaurant-onylcard__form{
  @include flex(column, flex-start);
  max-width: 1055px;
  background: #f6f6f6;
  margin: 0 auto;
  gap: 12px;

  &__title{
    @include flex(column);
    align-self: start;
    height: 27px;
    font-family: $main-font;
    font-size: 20px;
    font-weight: $thin;
    text-transform: uppercase;
    /* top | right | bottom | left */
    margin: 40px 0px 0px 15px;
    position: relative;

    @include tablet{
      margin: 40px 0px 0px 50px;
    }
  }

    &--line{
      position: absolute;
      left: -2px;
      top: 27px;
      width: 52px;
      height: 3px;
      background-color: $mint-color;

      @include mobile-medium {
        display: block;
        right: 352px;
      }
  
      @include tablet {
        display: block;
        right: 33px;
      }
  
      @include desktop{
        left: -1px;
      }
  
      @include desktop-large{
        left: -1px;
      }
    }

   &__subtitle{
      font-family: $main-font;
      font-size: 20px;
      font-weight: $semi-bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 228px;

      @include mobile-medium{
        width: 262px;
      }
  
      @include tablet{
        text-overflow: unset;
        overflow: visible;

      }
  
      @include desktop{
        text-overflow: unset;
        overflow: visible;
      }
  
      @include desktop-large{
        text-overflow: unset;
        overflow: visible;
      }
    }

    &__description{
      font-family: $main-font;
      font-size: 17px;
      font-weight: $thin;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 228px;

      @include mobile-medium{
        width: 275px;
      }
  
      @include tablet{
        text-overflow: unset;
        overflow: visible;
      }
  
      @include desktop{
        text-overflow: unset;
        overflow: visible;
      }
  
      @include desktop-large{
        text-overflow: unset;
        overflow: visible;
      }
    }

    &__price{
      position: absolute;
      left: 295px;
      bottom: 13px;
      font-family: $main-font;
      font-weight: $semi-bold;
      font-size: 17px;

    @include mobile-medium{
      left: 339px;
    }

    @include tablet{
      left: 580px;
    }

    @include desktop{
      left: 555px;
    }

    @include desktop-large{
      left: 634px;
    }
}
}
