.restaurant-onlycard {
    background-color: white;
      &__picture {
        object-fit: cover;
        height: 275px;
        width: 100%;
      }

      &__top{
          @include flex(initial, space-between,initial, initial);
          max-width: 1055px;
          position: relative;
          margin-top: -40px;
          padding: 20px;
          border-radius: 40px 40px 0 0;
          z-index: 1;
          background: #f6f6f6;
      
          @include for-size(tablet){
            justify-content: center;
          }
      
          @include for-size(desktop){
            margin-right: 150px;
            margin-left: 150px;
          }
      
          @include for-size(desktop-large){
            margin-right: 195px;
            margin-left: 274px;
        }
          }

      &__title{
        font-family: $title-font;
        font-size: 26px;
        font-weight: $regular;
      }

      &__like-icon{
        position: absolute;
        right: 28px;
        top: 27px;

        @include for-size(tablet){
          right: 215px;
        }

        @include for-size(desktop-large){
          right: 325px;
        top: 26px;
        }
      }


      &__form{
        @include flex(column, initial,initial, initial);
        background: #f6f6f6;
        margin: 0 auto;
        gap: 12px;

        @include for-size(desktop-large){
        }  


          &__title{
            @include flex(column, space-between,initial, initial);
            height: 27px;
            font-family: $main-font;
            font-size: 20px;
            font-weight: $thin;
            text-transform: uppercase;
            /* top | right | bottom | left */
            margin: 40px 0px 0px 15px;
            position: relative;

            @include for-size(tablet){
              margin-top : 40px;
              margin-left: 0px;
            }
          }

            &--line{
              position: absolute;
              right: 308px;
              top: 27px;
              width: 52px;
              height: 3px;
              background-color: $mint-color;

              @include for-size(mobile-medium){
                display: block;
                right: 352px;
              }
              @include for-size(tablet){
                display: block;
                right: 33px;
              }
              @include for-size(desktop){
              }
              @include for-size(desktop-large){
              }
            }

            &__subtitle{
                font-family: $main-font;
                font-size: 20px;
                font-weight: $semi-bold;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 228px;

                @include for-size(mobile-medium){
                  width: 262px;
                }
            
                @include for-size(tablet){
                  text-overflow: unset;
                  overflow: visible;
                }
                @include for-size(desktop){
                  text-overflow: unset;
                  overflow: visible;
                }
                @include for-size(desktop-large){
                  text-overflow: unset;
                  overflow: visible;
                }
              }

              &__description{
                font-family: $main-font;
                font-size: 17px;
                font-weight: $thin;

                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 228px;

                @include for-size(mobile-medium){
                  width: 275px;
                }
                @include for-size(tablet){
                  text-overflow: unset;
                  overflow: visible;
                }
                @include for-size(desktop){
                  text-overflow: unset;
                  overflow: visible;
                }
                @include for-size(desktop-large){
                  text-overflow: unset;
                  overflow: visible;
                }
              }

              &__price{
                position: absolute;
                left: 295px;
                bottom: 13px;
                font-family: $main-font;
                font-weight: $semi-bold;
                font-size: 17px;

              @include for-size(mobile-medium){
                left: 339px;
              }
              @include for-size(tablet){
                left: 580px;
              }
              @include for-size(desktop){
                left: 555px;
              }
              @include for-size(desktop-large){
                left: 634px;
              }
              }
      }
}