@charset "UTF-8";
@import url("https://fonts.google.com/share?selection.family=Roboto:wght@300;400;500;700;900");
@import url("https://fonts.google.com/share?selection.family=Shrikhand");
.restaurant .card__like-icon:hover,
.restaurant-onylcard .card__like-icon:hover,
.card .card__like-icon:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}

/****** Media Queries ***********/
/****** Colors ***********/
/****** Card--new ***********/
/****** Fonts ***********/
/****** Fonts weight ***********/
/****** Gradient ***********/
/****** Shadow ***********/
/****** Loader colors ***********/
body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  width: 100%;
}

header {
  background: white;
}

li {
  display: list-item;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset,
button,
input {
  border: none;
}

footer {
  background-color: #353535;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: initial;
  /****** Colors
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
    ***********/
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: initial;
    align-items: flex-end;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
footer .footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  gap: 16px;
  width: 100%;
  padding: 22px 25px;
  max-width: 1440px;
  color: white;
}
footer .footer__logo {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  width: 5em;
  height: auto;
  filter: invert(1);
  padding-top: 10px;
}
@media (min-width: 768px) {
  footer .footer__logo {
    width: 4.5Em;
    padding-right: 30px;
  }
}
@media (min-width: 1024px) {
  footer .footer__logo {
    width: 4.5Em;
    padding-right: 40px;
    padding-left: 40px;
  }
}
footer .footer__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-top: 16px;
  list-style: none;
}
@media (min-width: 768px) {
  footer .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  footer .footer__list {
    width: 100%;
    gap: 30px;
  }
}

.header__logo-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.header__logo-container__arrow {
  position: absolute;
  left: 20px;
}
.header__logo-container__logo {
  display: flex;
  justify-content: center;
  width: 7em;
  height: auto;
}

.button-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 20px auto 40px auto;
}
.button-1:hover {
  filter: brightness(110%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.button-2 {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: initial;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
@media (min-width: 768px) {
  .button-2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: initial;
  }
}
@media (min-width: 1024px) {
  .button-2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: initial;
    gap: initial;
    width: 100%;
    max-width: 335px;
  }
}
.button-2:hover i {
  color: #9356dc;
}
.button-2__link {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 23px;
  position: relative;
  width: 100%;
  border-radius: 25px;
  padding-left: 24px;
  background-color: #F7F7F7;
  height: 70px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .button-2__link {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .button-2__link {
    width: 100%;
  }
}
.button-2__link__number {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  position: absolute;
  left: -12px;
  color: white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.button-2__link__icon {
  color: #7a7a7a;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.card:hover {
  transition: box-shadow, transform, 0.5s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.card--new {
  position: absolute;
  right: 4%;
  top: 6%;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 17px;
  background-color: #99E2D0;
  color: #19846a;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.card--new:hover {
  transition: box-shadow, transform, 0.5s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #99E2D0;
}
.card__picture {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 25px 15px 13px;
}
.card__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.card__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.card__like-icon {
  display: block;
  position: absolute;
  left: 270px;
  bottom: 30px;
}
@media (min-width: 768px) {
  .card__like-icon {
    display: block;
    left: 424px;
  }
}
@media (min-width: 1024px) {
  .card__like-icon {
    display: block;
    left: 222px;
  }
}
@media (min-width: 1440px) {
  .card__like-icon {
    display: block;
    left: 385px;
  }
}

.restaurant-onlycard .form {
  background: #F7F7F7;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 12px;
}
.restaurant-onlycard .form input[type=radio] {
  display: none;
}
.restaurant-onlycard .form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  gap: 0;
  position: relative;
  height: 70px;
  margin: 0 12px;
  padding: 0 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: box-shadow 0.5s;
}
.restaurant-onlycard .form label button {
  margin: 28px auto 40px auto;
}

.restaurant .card__like-icon,
.restaurant-onylcard .card__like-icon,
.card .card__like-icon {
  text-align: center;
  width: 26px;
  color: black;
}
.restaurant .card__like-icon:hover,
.restaurant-onylcard .card__like-icon:hover,
.card .card__like-icon:hover {
  text-align: center;
  width: 26px;
  z-index: 1;
}

.loader {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: white;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  animation: loading 3s;
}
.loader__img {
  position: absolute;
  top: 415px;
  left: 25px;
  width: 15rem;
}

/****** Place ***********/
.place-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  background-color: #EAEAEA;
  height: 50px;
  padding: 10px;
}
.place-container__location__localisation {
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 110px;
}
.place-container__location__localisation::-moz-placeholder {
  color: black;
}
.place-container__location__localisation::placeholder {
  color: black;
}

/****** Réservez ***********/
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  background-color: #F3F3F3;
  text-align: center;
  padding: 40px 0px 15px 0px;
}
.reservation__title {
  margin-bottom: 12px;
}
.reservation__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  gap: initial;
  font-weight: 300;
  margin-bottom: 12px;
}

/****** Fonctionnement ***********/
.fonction {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 20px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}
@media (min-width: 1024px) {
  .fonction {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    gap: 24px;
  }
}
.fonction__title {
  font-size: 30px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .fonction__title {
    width: 100%;
    max-width: 1100px;
  }
}
.fonction__buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  gap: 25px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .fonction__buttons-container {
    padding-left: 22px;
  }
}
@media (min-width: 1024px) {
  .fonction__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: initial;
    gap: 24px;
    width: 100%;
    gap: 35px;
  }
}

/****** Restaurants ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  background-color: #F3F3F3;
  padding: 1em 1em 55px 1em;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-top: 30px;
  }
}
.restaurants__title {
  padding: 25px 0px 20px 3px;
  /* top | right | bottom | left */
  width: 100%;
  max-width: 1080px;
  font-size: 30px;
  font-weight: 700;
}
.restaurants__cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  width: 100%;
  max-width: 1080px;
  gap: 1em;
}
@media (min-width: 768px) {
  .restaurants__cards-container {
    width: 66.6666666667%;
  }
}
@media (min-width: 1024px) {
  .restaurants__cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px;
    padding-top: 10px;
  }
}
.restaurants__card-link {
  width: 100%;
  position: inherit;
}
@media (min-width: 1024px) {
  .restaurants__card-link {
    width: 40%;
  }
}

.restaurant-onlycard {
  background-color: white;
}
.restaurant-onlycard__picture {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
}
.restaurant-onlycard__top {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
  max-width: 1055px;
  position: relative;
  margin-top: -40px;
  padding: 20px;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  background: #f6f6f6;
}
.restaurant-onlycard__title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
}
.restaurant-onlycard__like-icon {
  position: absolute;
  right: 28px;
  top: 30px;
}

.restaurant-onylcard__form {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  background: #f6f6f6;
  margin: 0 auto;
  gap: 12px;
}
.restaurant-onylcard__form__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  /* top | right | bottom | left */
  margin: 40px 0px 0px 15px;
  position: relative;
}
.restaurant-onylcard__form--line {
  position: absolute;
  right: 293px;
  top: 27px;
  width: 52px;
  height: 3px;
  background-color: #99E2D0;
}
.restaurant-onylcard__form__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.restaurant-onylcard__form__description {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.restaurant-onylcard__form__price {
  position: absolute;
  left: 349px;
  bottom: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
}/*# sourceMappingURL=main.css.map */