@charset "UTF-8";
@import url("https://fonts.google.com/share?selection.family=Roboto:wght@300;400;500;700;900");
@import url("https://fonts.google.com/share?selection.family=Shrikhand");
.card .solid-heart,
.restaurant-onlycard .solid-heart {
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/****** Media Queries ***********/
/****** Colors ***********/
/****** Card--new ***********/
/****** Fonts ***********/
/****** Fonts weight ***********/
/****** Gradient ***********/
/****** Shadow ***********/
/****** Loader colors ***********/
body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  width: 100%;
}

header {
  background: white;
  box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.25);
}

li {
  display: list-item;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset,
button,
input {
  border: none;
}

.form {
  background: #F7F7F7;
  margin: 0 auto;
}

footer {
  background-color: #353535;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: initial;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: initial;
    align-items: flex-end;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
footer .footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  gap: 16px;
  width: 100%;
  padding: 22px 25px;
  max-width: 1440px;
  color: white;
}
footer .footer__logo {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  width: 5em;
  height: auto;
  filter: invert(1);
  padding-top: 10px;
}
@media (min-width: 768px) {
  footer .footer__logo {
    width: 4.5Em;
    padding-right: 30px;
  }
}
@media (min-width: 1024px) {
  footer .footer__logo {
    width: 4.5Em;
    padding-right: 40px;
    padding-left: 40px;
  }
}
footer .footer__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-top: 16px;
  list-style: none;
}
@media (min-width: 768px) {
  footer .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  footer .footer__list {
    width: 100%;
    gap: 30px;
  }
}
footer .footer__link {
  /* changing the color of the text, in the footer, just for UX purpose */
}
footer .footer__link:active {
  color: #9356DC;
}
@media (min-width: 1024px) {
  footer .footer__link:hover {
    cursor: pointer;
    color: #9356DC;
  }
}

.header__logo-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo-container__arrow {
  position: absolute;
  left: 20px;
}
.header__logo-container__logo {
  display: flex;
  justify-content: center;
  width: 7em;
  height: auto;
}

.button-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 20px auto 40px auto;
  /* lighter button + darker shadow when clicked */
}
.button-1:active {
  filter: brightness(110%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1024px) {
  .button-1:hover {
    filter: brightness(110%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
}

.button-2 {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: initial;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  /* only changes the color of the icon (i) when clicked */
}
@media (min-width: 768px) {
  .button-2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: initial;
  }
}
@media (min-width: 1024px) {
  .button-2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: initial;
    gap: initial;
    width: 100%;
    max-width: 335px;
  }
}
.button-2:active i {
  color: #9356dc;
  transition: box-shadow, transform, 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .button-2:hover i {
    color: #9356dc;
  }
}
.button-2__link {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 23px;
  position: relative;
  width: 100%;
  border-radius: 25px;
  padding-left: 24px;
  background-color: #F7F7F7;
  height: 70px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.button-2__link:active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .button-2__link {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .button-2__link {
    width: 100%;
  }
  .button-2__link:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
}
.button-2__link__number {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  position: absolute;
  left: -12px;
  color: white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.button-2__link__icon {
  color: #7a7a7a;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  position: relative;
  transition: box-shadow, transform, 0.3s ease-in-out;
}
.card:hover {
  transition: box-shadow, transform, 0.3s ease-in-out;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.card--new {
  position: absolute;
  right: 4%;
  top: 6%;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 17px;
  background-color: #99E2D0;
  color: #19846a;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.card--new:hover {
  transition: box-shadow, transform, 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #99E2D0;
}
.card__picture {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  aspect-ratio: 4.5/2;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 25px 15px 13px;
}
.card__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.card__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.card__like-icon {
  position: absolute;
  left: 270px;
  bottom: 30px;
}
@media (min-width: 420px) {
  .card__like-icon {
    left: 314px;
  }
}
@media (min-width: 768px) {
  .card__like-icon {
    left: 418px;
  }
}
@media (min-width: 1024px) {
  .card__like-icon {
    left: 262px;
  }
}
@media (min-width: 1440px) {
  .card__like-icon {
    left: 442px;
  }
}

.restaurant-onlycard__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  gap: 12px;
  max-width: 1055px;
  background: #f6f6f6;
  margin: 0 auto;
  gap: 12px;
}
.restaurant-onlycard__form input[type=radio] {
  display: none;
}
.restaurant-onlycard__form input[type=radio]:checked + label {
  margin-right: 4px;
  /* makes the selected label stands out of others */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
@media (min-width: 1024px) {
  .restaurant-onlycard__form input[type=radio]:hover + label {
    background-color: #f4fcfa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__form input[type=radio]:hover + label {
    background-color: #f4fcfa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) {
  .restaurant-onlycard__form {
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    gap: 12px;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__form {
    min-width: 900px;
    max-width: 1055px;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__form {
    min-width: 900px;
    max-width: 1055px;
    padding: 0px 20px 0px 20px;
  }
}
.restaurant-onlycard__form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  gap: 0;
  position: relative;
  background-color: white;
  height: 70px;
  margin: 0 12px;
  padding: 0 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  overflow: hidden;
  opacity: 0%;
  transform: scaleX(0);
  transform-origin: right;
  animation: labelSlide 500ms ease-in-out;
  animation-fill-mode: forwards;
  /* the animation doesn't reset and the elements stay as it is at the end of anim */
  /* it's called "sass @for loops", it compiles :
  ".label:nth-child(1): ...s",
  ".label:nth-child(2): ...s"
  and so on */
  /* &:hover .restaurant-onlycard__form__checkbox {
      transform: translateX(-10px);
    }

  &:hover .restaurant-onlycard__form__price {
    left: 242px;

      @include mobile-medium{
        left: 288px;
      }
      @include tablet{
      left: 535px;
    }
    @include desktop{
      left: 655px;
    }

    @include desktop-large{
      left: 650px;
    }
    } */
}
@media (min-width: 768px) {
  .restaurant-onlycard__form label {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__form label {
    width: 70%;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__form label {
    width: 70%;
  }
}
.restaurant-onlycard__form label:nth-of-type(10) {
  animation-delay: 2000ms;
}
.restaurant-onlycard__form label:nth-of-type(9) {
  animation-delay: 1800ms;
}
.restaurant-onlycard__form label:nth-of-type(8) {
  animation-delay: 1600ms;
}
.restaurant-onlycard__form label:nth-of-type(7) {
  animation-delay: 1400ms;
}
.restaurant-onlycard__form label:nth-of-type(6) {
  animation-delay: 1200ms;
}
.restaurant-onlycard__form label:nth-of-type(5) {
  animation-delay: 1000ms;
}
.restaurant-onlycard__form label:nth-of-type(4) {
  animation-delay: 800ms;
}
.restaurant-onlycard__form label:nth-of-type(3) {
  animation-delay: 600ms;
}
.restaurant-onlycard__form label:nth-of-type(2) {
  animation-delay: 400ms;
}
.restaurant-onlycard__form label:nth-of-type(1) {
  animation-delay: 200ms;
}
.restaurant-onlycard__form label:active .restaurant-onlycard__form__checkbox {
  transform: translateX(-10px);
}
@media (min-width: 420px) {
  .restaurant-onlycard__form label:active .restaurant-onlycard__form__checkbox {
    transform: translateX(-10px);
  }
}
@media (min-width: 420px) and (min-width: 768px) {
  .restaurant-onlycard__form label:active .restaurant-onlycard__form__checkbox {
    transform: translateX(-10px);
  }
}
@media (min-width: 420px) and (min-width: 1024px) {
  .restaurant-onlycard__form label:hover .restaurant-onlycard__form__checkbox {
    transform: translateX(-10px);
  }
}
@media (min-width: 420px) and (min-width: 1440px) {
  .restaurant-onlycard__form label:hover .restaurant-onlycard__form__checkbox {
    transform: translateX(-10px);
  }
}
.restaurant-onlycard__form label:active .restaurant-onlycard__form__price {
  left: 248px;
}
@media (min-width: 420px) {
  .restaurant-onlycard__form label:active .restaurant-onlycard__form__price {
    left: 288px;
  }
}
@media (min-width: 420px) and (min-width: 768px) {
  .restaurant-onlycard__form label:active .restaurant-onlycard__form__price {
    left: 535px;
  }
}
@media (min-width: 420px) and (min-width: 1024px) {
  .restaurant-onlycard__form label:hover .restaurant-onlycard__form__price {
    left: 560px;
  }
}
@media (min-width: 420px) and (min-width: 1440px) {
  .restaurant-onlycard__form label:hover .restaurant-onlycard__form__price {
    left: 565px;
  }
}
.restaurant-onlycard__form__title {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  align-self: start;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 40px 0px 0px 15px;
  position: relative;
}
@media (min-width: 768px) {
  .restaurant-onlycard__form__title {
    margin: 40px 0px 0px 50px;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__form__title {
    margin: 40px 0px 0px 120px;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__form__title {
    margin: 40px 0px 0px 122px;
  }
}
.restaurant-onlycard__form--line {
  position: absolute;
  left: -2px;
  top: 27px;
  width: 52px;
  height: 3px;
  background-color: #99E2D0;
}
@media (min-width: 420px) {
  .restaurant-onlycard__form--line {
    display: block;
    right: 352px;
  }
}
@media (min-width: 768px) {
  .restaurant-onlycard__form--line {
    display: block;
    right: 33px;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__form--line {
    left: -1px;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__form--line {
    left: -1px;
  }
}
.restaurant-onlycard__form__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 228px;
}
@media (min-width: 420px) {
  .restaurant-onlycard__form__subtitle {
    width: 262px;
  }
}
@media (min-width: 768px) {
  .restaurant-onlycard__form__subtitle {
    text-overflow: unset;
    overflow: visible;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__form__subtitle {
    text-overflow: unset;
    overflow: visible;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__form__subtitle {
    text-overflow: unset;
    overflow: visible;
  }
}
.restaurant-onlycard__form__description {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* adds 3dots at the end of sentence, if it does'nt have enough space to be fully written */
  width: 228px;
}
@media (min-width: 420px) {
  .restaurant-onlycard__form__description {
    width: 260px;
  }
}
@media (min-width: 768px) {
  .restaurant-onlycard__form__description {
    text-overflow: unset;
    overflow: visible;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__form__description {
    text-overflow: unset;
    overflow: visible;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__form__description {
    text-overflow: unset;
    overflow: visible;
  }
}
.restaurant-onlycard__form__price {
  position: absolute;
  left: 295px;
  bottom: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
@media (min-width: 420px) {
  .restaurant-onlycard__form__price {
    left: 339px;
  }
}
@media (min-width: 768px) {
  .restaurant-onlycard__form__price {
    left: 580px;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__form__price {
    left: 570px;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__form__price {
    left: 600px;
  }
}
.restaurant-onlycard__form__checkbox {
  position: absolute;
  z-index: 1;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  right: -10px;
  padding: 0px 18px 0px 18px;
  height: 100%;
  transform: translateX(50px);
  transition: all 0.5s ease-in-out;
}
.restaurant-onlycard__form__checkbox i {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 30px;
}
.restaurant-onlycard__form button {
  margin: 28px auto 40px auto;
}

@keyframes labelSlide {
  0% {
    background-color: #99E2D0;
  }
  50% {
    opacity: 5%;
  }
  95% {
    opacity: 5%;
    background-color: #19846a;
  }
  100% {
    color: inherit;
    opacity: 1;
    transform: scaleX(1);
  }
}
.card .empty-heart,
.restaurant-onlycard .empty-heart {
  text-align: center;
  width: 26px;
  color: black;
  opacity: 1;
}
.card .solid-heart,
.restaurant-onlycard .solid-heart {
  text-align: center;
  width: 26px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation-fill-mode: forwards;
  /* in extends.scss :
    background: linear-gradient(#9356DC,#FF79DA);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
    so that the heart is full and no square around takes the color */
}
.card .solid-heart:active,
.restaurant-onlycard .solid-heart:active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
@media (min-width: 1024px) {
  .card .solid-heart:hover,
  .restaurant-onlycard .solid-heart:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.loader {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #fff3fc;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  animation: loader 5s;
  /* it's called "sass @for loops", it compiles :
  ".loader__circle:nth-child(1): ...s",
  ".loader__circle:nth-child(1): ...s",
  and so on */
}
.loader__img {
  width: 14rem;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
}
@media (min-width: 1024px) {
  .loader__img {
    width: 16rem;
  }
}
.loader__circle {
  opacity: 1;
  z-index: -1;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: -60px;
  border-radius: 100%;
  animation: loaderCircles 5s;
}
@media (min-width: 1024px) {
  .loader__circle {
    width: 45px;
    height: 45px;
  }
}
.loader__circle:nth-child(1) {
  background: #9356dc;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
}
.loader__circle:nth-child(2) {
  background: #FF79DA;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
}
.loader__circle:nth-child(3) {
  background: #99E2D0;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
}
@keyframes loader {
  0% {
    z-index: 1;
  }
  35% {
    transform: scale(1.05);
    opacity: 1;
  }
  70% {
    transform: scale(1);
  }
  80% {
    opacity: 0.019;
  }
  90% {
    opacity: 0.005;
  }
  99% {
    opacity: 0.01;
    z-index: 5;
  }
  100% {
    opacity: 0;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loaderCircles {
  0% {
    z-index: 1;
  }
  35% {
    transform: scale(1.05);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  70% {
    opacity: 0.019;
  }
  80% {
    opacity: 0.05;
  }
  90% {
    opacity: 0.02;
    z-index: 5;
  }
  99% {
    opacity: 0.01;
    z-index: 5;
  }
  100% {
    opacity: 0;
    opacity: 0;
    z-index: -1;
  }
}

/* Place */
.place-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  background-color: #EAEAEA;
  height: 50px;
  padding: 10px;
}
.place-container__location__localisation {
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 110px;
}
.place-container__location__localisation::-moz-placeholder {
  color: black;
}
.place-container__location__localisation::placeholder {
  color: black;
}
.place-container__location__localisation:focus {
  background: #c9abee;
}

/* Réservez */
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  background-color: #F3F3F3;
  text-align: center;
  padding: 40px 0px 15px 0px;
}
.reservation__title {
  margin-bottom: 12px;
}
.reservation__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: initial;
  gap: initial;
  font-weight: 300;
  margin-bottom: 12px;
  font-size: 20px;
}

/* Fonctionnement */
.fonction {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 20px;
  background-color: white;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}
@media (min-width: 1024px) {
  .fonction {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    gap: 24px;
  }
}
.fonction__title {
  font-size: 30px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .fonction__title {
    width: 100%;
    max-width: 1100px;
  }
}
.fonction__buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  gap: 25px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .fonction__buttons-container {
    padding-left: 22px;
  }
}
@media (min-width: 1024px) {
  .fonction__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: initial;
    gap: 24px;
    width: 100%;
    gap: 35px;
  }
}

/* Restaurants */
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  background-color: #F3F3F3;
  padding: 1em 1em 55px 1em;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-top: 30px;
  }
}
.restaurants__title {
  padding: 25px 0px 20px 3px;
  /* top | right | bottom | left */
  width: 100%;
  max-width: 1080px;
  font-size: 30px;
  font-weight: 700;
}
.restaurants__cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  width: 100%;
  max-width: 1080px;
  gap: 1em;
}
@media (min-width: 768px) {
  .restaurants__cards-container {
    width: 66.6666666667%;
  }
}
@media (min-width: 1024px) {
  .restaurants__cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10px;
    gap: 32px 42px;
  }
}
.restaurants__card-link {
  width: 100%;
  position: inherit;
}
@media (min-width: 1024px) {
  .restaurants__card-link {
    width: 45%;
  }
}

.restaurant-onlycard {
  background-color: white;
}
@media (min-width: 1024px) {
  .restaurant-onlycard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.restaurant-onlycard__picture {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
}
.restaurant-onlycard__top {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
  min-width: 325px;
  max-width: 1055px;
  position: relative;
  margin-top: -40px;
  padding: 20px;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  background: #f6f6f6;
}
@media (min-width: 420px) {
  .restaurant-onlycard__top {
    min-width: 365px;
    max-width: 1055px;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .restaurant-onlycard__top {
    max-width: 1055px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__top {
    min-width: 860px;
    max-width: 1055px;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__top {
    min-width: 900px;
    max-width: 1055px;
  }
}
.restaurant-onlycard__title {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  font-weight: 400;
  margin-right: 0px;
}
@media (min-width: 420px) {
  .restaurant-onlycard__title {
    margin-right: 120px;
  }
}
@media (min-width: 768px) {
  .restaurant-onlycard__title {
    margin-right: 0px;
  }
}
.restaurant-onlycard__like-icon {
  position: absolute;
  left: 305px;
  bottom: 28px;
}
@media (min-width: 768px) {
  .restaurant-onlycard__like-icon {
    left: 518px;
  }
}
@media (min-width: 1024px) {
  .restaurant-onlycard__like-icon {
    left: 595px;
  }
}
@media (min-width: 1440px) {
  .restaurant-onlycard__like-icon {
    left: 618px;
  }
}/*# sourceMappingURL=main.css.map */