footer {
    @include flex(column, center, flex-start);
   /****** Colors
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
     ***********/
    padding: 15px;

    .footer {
        @include flex(column, flex-start, initial, 16px);
        width: 100%;
        padding: 22px 25px;
        max-width: 1440px;
        color: $footer-font-color;
    
        
        &__logo {
            @include flex;
            width: 5em;
            height: auto;
            filter: invert(1);
        }

        &__list {
            @include flex(column, initial, initial, 7px);
            font-family: $main-font;
            font-size: 16px;
            gap: 7px;
            padding-top: 16px;
            list-style: none;
        }
}
}
