footer {
    @include flex(column, center, flex-start);
   /****** Colors
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
     ***********/
    padding-left: 15px;
    padding-top : 10px;
    padding-bottom: 15px;
    
    @include for-size(tablet) {
        @include flex(row-reverse, initial, flex-end, 10px);
        padding-top: 40px;
        padding-bottom: 30px;
    }



    .footer {
        @include flex(column, flex-start, initial, 16px);
        width: 100%;
        padding: 22px 25px;
        max-width: 1440px;
        color: $footer-font-color;
        
        &__logo {
            @include flex;
            width: 5em;
            height: auto;
            filter: invert(1);
            padding-top: 10px;

            @include for-size(tablet) {
            width: 4.5Em;
            padding-right: 30px;
        }

        @include for-size(desktop) {
            width: 4.5Em;
            padding-right: 40px;
            padding-left: 40px;
        }
        }

        &__list {
            @include flex(column, initial, initial, 7px);
            font-family: $main-font;
            font-size: 16px;
            padding-top: 16px;
            list-style: none;

            @include for-size(tablet) {
                @include flex(row, flex-end, flex-end, 16px);
            }

            @include for-size(desktop) {
                width: 100%;
                gap: 30px;
            } }

         /****** not working
            &__link {
                opacity: .5 1s;
                transition: opacity .3s;
        }     
        ***********/

}
}
