.card {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    position: relative;
    &:hover {
        transition: box-shadow, transform, 0.5s;
        box-shadow: 0px 4px 15px $shadow-color;
    }

    &--new {
        position: absolute;
        right: 4%;
        top: 6%;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 17px;
        background-color: #99E2D0;
        color: $green-color;
        border-radius: 2px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            &:hover {
            transition: box-shadow, transform, 0.5s;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
            background-color: $mint-color;
      }  
    }  

    &__picture {
        object-fit: cover;
        height: calc(250px - 75px);
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px 25px 15px 13px;
        }

        &__title {
            font-family: $main-font;
            font-size: 20px;
            font-weight: $bold;
        }

        &__subtitle {
            font-family: $main-font;
            font-size: 18px;
            font-weight: $thin;
        }

        &__like-icon {
            position: absolute;
            left: 330px;
            bottom: 30px;
            @include for-size(desktop){
                left: 375px;
            }
        }

}

