.restaurant-onlycard {

    .form {
      @include flex($direction: column, $gap: 12px);
      input[type="radio"] {
        display: none;
      }

      @include for-size(tablet){
        @include flex($direction: column, $justify: initial, $align: center, $gap: 12px);
      }

      @include for-size(desktop){
        margin-right: 150px;
        margin-left: 150px;
      }
      @include for-size(desktop-large){
        margin-right: 194px;
        margin-left: 274px;
        padding: 0px 20px 0px 20px;
  }

      label {
        @include flex(column, center, initial, 0);
        position: relative;
        height: 70px;
        margin: 0 12px;
        padding: 0 15px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        background-color: white;
        transition: box-shadow 0.5s;

        opacity: 0%;
        transform: scaleX(0);
        transform-origin: right;
        animation: labelSlide 500ms ease-in-out;
        animation-fill-mode: forwards;

        @for $i from 10 through 1 {
          &:nth-of-type(#{$i}) {
            animation-delay: $i * 300ms;
          }
        }

        @include for-size(tablet){
          width: 80%;
        }
    
        @include for-size(desktop){
        }
    
        @include for-size(desktop-large){
          width: 70%;
        }

      button {
        margin: 28px auto 40px auto;
      }
    }
  }
}

@keyframes labelSlide {
  0% {
    background-color: $mint-color;
  }
  50% {
    opacity: 5%;
  }
  95% {
    opacity: 5%;
    background-color: $green-color;
  }
  100% {
    color: inherit;
    opacity: 1;
    transform: scaleX(1);
  }
}
