
.card,
.restaurant-onlycard {
  .empty-heart {
    text-align: center; 
    width: 26px;
    color: black;

    &:active {
      cursor: auto;
    }

    @include desktop{
      &:hover{
      cursor: pointer;
    }
  }
  }

  .solid-heart{
    text-align: center; 
    width: 26px; 


    &:active {
      cursor: auto;
    }

    @include desktop{
      &:hover{
      cursor: pointer;
    }
    }
}
} 


