.card,
.restaurant-onlycard {

  .empty-heart {
    text-align: center; 
    width: 26px;
    color: black;

    &:active {
      opacity: 0;
    }

    @include desktop{
      &:hover{
        cursor: pointer;
        opacity: 0£;
    }
    }
  }

  .solid-heart{
    text-align: center; 
    width: 26px; 
    opacity: 0;
    color: red;

    &:active {
      opacity: 1;
    }

    @include desktop{
      &:hover{
        cursor: pointer;
        opacity: 1;
    }
    }
}
}


