.card,
.restaurant-onlycard {

  .empty-heart {
    text-align: center; 
    width: 26px;
    color: black;
    opacity: 1;
  }

  .solid-heart{
    text-align: center; 
    width: 26px; 
    opacity: 0;
    @extend %heart-gradient;
    transition: opacity 0.6s;

    &:active {
      opacity: 1;
    }

    @include desktop{
      &:hover{
        cursor: pointer;
        opacity: 1;
    }
    }
}
}


