* {
    margin: 0;
    padding: 0;
}

body {
    margin : 0px;
    padding : 0px;
    background-color: white;
}

header {
    background: white;
}

li {
    display: list-item;
}

a {
    text-decoration: none;
    color: inherit;
}

fieldset,
button,
input {
  border: none;
}

footer {
    width: 100%;
    background-color: $footer-background-color;
    color: $footer-font-color;
}